<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.languagetool.server.WikipediaMapper">
    <select id="selectWikipediaArticle" resultType="org.languagetool.server.CorpusArticleEntry">
        SELECT * FROM corpus_article WHERE id=#{id}
    </select>
    <select id="selectNonAppliedWikipediaSuggestions" resultType="org.languagetool.server.CorpusMatchEntry">
        SELECT * FROM corpus_match m WHERE applied IS NULL ORDER BY length((select wikitext from corpus_article a where m.article_id = a.id)) LIMIT 10
    </select>
    <select id="selectWikipediaSuggestion" resultType="org.languagetool.server.CorpusMatchEntry">
        SELECT * FROM corpus_match WHERE id=#{id}
    </select>
    <select id="updateWikipediaSuggestion">
        UPDATE corpus_match SET applied=#{applied}, applied_date=current_timestamp(), applied_reason=#{reason}, applied_username=#{username} WHERE id=#{id}
    </select>
</mapper>
