<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.languagetool.server.WikipediaMapper">
    <select id="selectWikipediaArticle" resultType="org.languagetool.server.CorpusArticleEntry">
        SELECT id, language_code, title, revision, wikitext, anonymized_html, css_url, analyzed, url FROM corpus_article WHERE id=#{id}
    </select>
    <select id="selectNonAppliedWikipediaSuggestions" resultType="org.languagetool.server.CorpusMatchEntry">
        SELECT corpus_match.*
        FROM corpus_match
        INNER JOIN (
            select corpus_match_id.id
            from corpus_match corpus_match_id
            inner join corpus_article article on article.id = corpus_match_id.article_id
            where applied is null
              and language_code in <foreach item="item" index="index" collection="languageCodes"  open="(" separator="," close=")">
                  #{item}
              </foreach>
            order by rand()
            limit 10
        ) AS ids ON ids.id = corpus_match.id
    </select>
    <select id="selectSkippedWikipediaSuggestions" resultType="org.languagetool.server.CorpusMatchEntry">
        SELECT m.id,
               article_id,
               ruleid,
               rule_category,
               rule_subid,
               rule_description,
               message,
               error_context,
               small_error_context,
               html_error_context,
               replacement_suggestion,
               null AS applied,
               skipped.date,
               null AS applied_reason,
               skipped.username,
               languagetool_version
        FROM corpus_match_skipped skipped
                 INNER JOIN corpus_match m on skipped.corpus_match_id = skipped.corpus_match_id
                 INNER JOIN corpus_article a on m.article_id
        WHERE language_code = #{languageCode}
          AND skipped.username = #{username}
        ORDER BY date DESC LIMIT 10
    </select>
    <select id="selectWikipediaSuggestion" resultType="org.languagetool.server.CorpusMatchEntry">
        SELECT * FROM corpus_match WHERE id=#{id}
    </select>
    <select id="updateWikipediaSuggestion">
        UPDATE corpus_match SET applied=#{applied}, applied_date=current_timestamp(), applied_reason=#{reason}, applied_username=#{username} WHERE id=#{id}
    </select>
    <select id="selectAccessToken" resultType="org.languagetool.server.AccessToken">
        SELECT * FROM access_token WHERE access_token=#{accessToken} AND language_code=#{languageCode}
    </select>
    <select id="getDecisionStats" resultType="org.languagetool.server.DatabaseAccess$DayStatistics">
        select distinct date_format(applied_date, '%Y-%m-%d'),
                        applied,
                        count(*)
        FROM corpus_match
        WHERE applied_date is not null
        GROUP BY date_format(applied_date, '%Y-%m-%d'), applied
        ORDER BY date_format(applied_date, '%Y-%m-%d'), applied
    </select>
    <select id="getDecisionStatsPercentageWeek" resultType="org.languagetool.server.DatabaseAccess$WeekStatistics">
        select distinct date_format(applied_date, '%Y w%u') AS week,
                        100 * AVG(applied)
        FROM corpus_match months
        where applied_date is not null
        group by week;
    </select>
    <select id="getContributionStats" resultType="org.languagetool.server.DatabaseAccess$ContributionStatisticsPerMonth">
        SELECT date_format(applied_date, '%Y-%m') as month, language_code, applied_username, count(*)
        FROM corpus_match
        INNER JOIN corpus_article ca on corpus_match.article_id = ca.id
        WHERE applied_date is not null
        GROUP BY month, language_code, applied_username
        ORDER BY month DESC, count(*) DESC, language_code
    </select>
    <select id="getPendingSuggestionsPerLanguageCode" resultType="org.languagetool.server.DatabaseAccess$PendingSuggestionsPerLanguageCode">
        SELECT language_code, count(*)
        FROM corpus_match use index (corpus_match_article_applied_index),
             corpus_article
        WHERE article_id = corpus_article.id
          AND applied is null
        GROUP BY language_code
        ORDER BY language_code
    </select>
    <select id="getMostRefusedSuggestionCategoriesPerLanguageCode" resultType="org.languagetool.server.DatabaseAccess$RefusedSuggestionCategoryPerLanguageCode">
        SELECT languagetool_version,
               language_code,
               rule_category,
               rule_description,
               COUNT(*),
               (
                   SELECT sample.id
                   FROM corpus_match sample
                   WHERE sample.article_id IN (
                       select id from corpus_article sample_article where article.language_code = sample_article.language_code
                   )
                     AND rule.languagetool_version = sample.languagetool_version
                     AND rule.rule_category = sample.rule_category
                     AND rule.rule_description = sample.rule_description
                   ORDER BY rule.applied_date DESC
                   LIMIT 1
               ) AS sample_suggestion_id
        FROM corpus_match rule
                 INNER JOIN corpus_article article on rule.article_id = article.id
        WHERE applied = 0
          AND applied_date > date_sub(current_date, interval 2 week)
        GROUP BY languagetool_version, language_code, rule_category, rule_description
        HAVING COUNT(*) > 10
        ORDER BY languagetool_version DESC, language_code, COUNT(*) DESC
        LIMIT 10
    </select>
    <select id="insertAccessToken">
        INSERT INTO access_token(language_code, username, access_token, access_token_secret) VALUES(#{languageCode}, #{username}, #{accessToken}, #{accessTokenSecret})
    </select>
    <select id="deleteAccessToken">
        DELETE FROM access_token WHERE access_token=#{accessToken}
    </select>
</mapper>
